In [3]:
import os
import sys
import pandas as pd
import numpy as np
from plotnine import *

In [9]:
os.getcwd()

'/Users/ilmaruduste/opt/anaconda3/lib/python3.7/site-packages'

In [13]:
#os.chdir('/Users/ilmaruduste/School/Masinõpe')
os.chdir('/Users/ilmaruduste/School/Masinõpe')

In [14]:
os.getcwd()

'/Users/ilmaruduste/School/Masinõpe'

In [16]:
grid_locations = pd.read_csv('grid_congestion_data/grid_locations.csv')
grid_locations.head()

,Unnamed: 0,address,cadaster,latitude,longitude,x,y,max_current
0,134,"2, Aardla, Ropka, Tartu linn, Tartu, Tartu lin...",79511:003:0022,58.355604,26.730697,6471601.92,659795.21,200
1,136,"66, Peetri, Raadi-Kruusamäe, Tartu linn, Tartu...",79512:038:0009,58.390402,26.730959,6475470.49,659684.48,160
2,177,"64, Metshaldja, Ihaste, Tartu linn, Tartu, Tar...",79517:014:0024,58.352182,26.777857,6471306.96,662602.18,160
3,88,"11, Risti, Raadi-Kruusamäe, Tartu linn, Tartu,...",79512:029:0011,58.393000,26.724314,6475718.16,659262.11,60
4,94,"8, Kristalli, Ränilinn, Tartu linn, Tartu, Tar...",79505:005:0079,58.349762,26.683184,6470844.17,657076.56,160

In [17]:
public_chargers = pd.read_csv('grid_congestion_data/public_chargers_locations.csv')
public_chargers.head()

,Unnamed: 0,address,cadaster,latitude,longitude,x,y
0,0,"78, Tiigi, Kesklinn, Tartu linn, Tartu, Tartu ...",79506:006:0001,58.373603,26.710675,6473552.48,658596.39
1,1,"30, Veski, Kesklinn, Tartu linn, Tartu, Tartu ...",79507:021:0003,58.378190,26.711309,6474073.17,658582.03
2,2,"Heino Elleri nimeline Tartu Muusikakool, 15, L...",79507:019:0002,58.380050,26.717865,6474277.29,658997.44
3,3,"20A, Sepa, Ropka tööstusrajoon, Tartu linn, Ta...",79511:002:0027,58.350656,26.729897,6471029.11,659793.82
4,4,"7, Tamme põik, Tammelinn, Tartu linn, Tartu, T...",79504:053:0019,58.357376,26.695822,6471706.87,657778.20

In [18]:
charger_grid_join = pd.merge(grid_locations, public_chargers, how='inner', on = 'cadaster')
charger_grid_join.head()

Empty DataFrame
Columns: [Unnamed: 0_x, address_x, cadaster, latitude_x, longitude_x, x_x, y_x, max_current, Unnamed: 0_y, address_y, latitude_y, longitude_y, x_y, y_y]
Index: []

In [19]:
ev_home = pd.read_csv('grid_congestion_data/ev_home_locations.csv')
ev_home.head()

,Unnamed: 0,address,cadaster,latitude,longitude,x,y
0,0,"1, Kvissentali põik, Ülejõe, Tartu linn, Tartu...",79514:037:0033,58.406210,26.706300,6477173.28,658139.66
1,1,"28b/1, Orava, Raadi-Kruusamäe, Tartu linn, Tar...",79512:036:0020,58.389311,26.737114,6475347.92,660042.39
2,2,"16, Alevi, Karlova, Tartu linn, Tartu, Tartu l...",79508:016:0001,58.362547,26.726161,6472365.82,659521.12
3,3,"37, Voolu, Variku, Tartu linn, Tartu, Tartu li...",79509:019:0003,58.346618,26.702650,6470513.21,658227.79
4,4,"12, Ilmatsalu, Veeriku, Tartu linn, Tartu, Tar...",79502:006:0095,58.375785,26.690146,6473716.85,657353.49

In [21]:
home_grid_join = pd.merge(grid_locations, ev_home, how='inner', on = 'cadaster')
home_grid_join.head()

Empty DataFrame
Columns: [Unnamed: 0_x, address_x, cadaster, latitude_x, longitude_x, x_x, y_x, max_current, Unnamed: 0_y, address_y, latitude_y, longitude_y, x_y, y_y]
Index: []