In [92]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

In [111]:
train = pd.read_csv('train_for_gif.csv', sep=";")
train.head() #0_x is ev charging current, 0_y is baseload current

   Unnamed: 0  index  ...        22_y        23_y
0          24    138  ...   48.375035   42.896676
1          16     15  ...   68.542676   73.093613
2           8    193  ...   47.173830   41.957258
3          15    168  ...   36.109098   45.307183
4          12     59  ...  172.177444  155.879436

[5 rows x 59 columns]

In [112]:
test = pd.read_csv('test_for_gif.csv', sep=";")
test.head() #0_x is ev charging current, 0_y is baseload current

   Unnamed: 0  index  ...        22_y        23_y
0          17    106  ...   99.091078  114.843304
1          13      7  ...   59.464003   63.653381
2           4     30  ...  149.993054  154.378589
3          29    194  ...  170.526774  136.501670
4          35    103  ...   79.221729  106.508075

[5 rows x 59 columns]

In [118]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

for i in range(24):
  train[str(i)+"_current"] = train[str(i)+"_x"]+train[str(i)+"_y"]
  test[str(i)+"_current"] = test[str(i)+"_x"]+test[str(i)+"_y"]
train["total_chargers"] = train["public_chargers"] + train["home_chargers"]
test["total_chargers"] = test["public_chargers"] + test["home_chargers"]
train.head()

   Unnamed: 0  index  ...  23_current total_chargers
0          24    138  ...   42.896676            1.0
1          16     15  ...   80.293613            7.0
2           8    193  ...   41.957258            1.0
3          15    168  ...   45.307183            5.0
4          12     59  ...  155.879436            5.0

[5 rows x 84 columns]

In [64]:
print(np.unique(train["max_current"]),np.unique(test["max_current"]))

[ 60 100 160 200] [ 60 100 160]

In [71]:
# Per hour model 1
models = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["max_current", "public_chargers", "home_chargers", str(i)+"_y"]], train[[str(i)+'_current']])
  pred = lr.predict(test[["max_current", "public_chargers", "home_chargers", str(i)+"_y"]])
  models.append([lr, lr.score(test[["max_current", "public_chargers", "home_chargers", str(i)+"_y"]], test[[str(i)+'_current']]), mean_squared_error(test[[str(i)+'_current']], pred, squared=False)])
  predictions.append(pred)

In [72]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",model[1],"| RMSE",model[2])

print("Day average | R2", np.array(models)[:,1].mean(),"| RMSE", np.array(models)[:,2].mean())

Day average | R2 0.8812533157077462 | RMSE 10.925397972186152

In [ ]:
for i in range(24):
  for el in zip(predictions[i], np.array(test[str(i)+"_current"])):
    print(i, el[0][0], el[1])

In [76]:
# Per hour model 2
models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["public_chargers", "home_chargers", str(i)+"_y"]], train[[str(i)+'_current']])
  pred = lr.predict(test[["public_chargers", "home_chargers", str(i)+"_y"]])
  models.append(lr)
  r2.append(lr.score(test[["public_chargers", "home_chargers", str(i)+"_y"]], test[[str(i)+'_current']]))
  rmse.append(mean_squared_error(test[[str(i)+'_current']], pred, squared=False))
  predictions.append(pred)

In [77]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 0.8887420302927834 | RMSE 10.423725187528838

In [90]:
# Per hour model 3
models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  # Labels are the values we want to predict
  labels = np.array(train[str(i)+'_current'])
  # Remove the labels from the features
  # axis 1 refers to the columns
  features = train[["public_chargers", "home_chargers", str(i)+"_y","max_current"]]
  # Saving feature names for later use
  feature_list = list(features.columns)
  # Convert to numpy array
  features = np.array(features)

  m = RandomForestRegressor()
  m.fit(features, labels)
  pred = m.predict(test[["public_chargers", "home_chargers", str(i)+"_y","max_current"]])
  models.append(m)
  r2.append(m.score(test[["public_chargers", "home_chargers", str(i)+"_y","max_current"]], test[[str(i)+'_current']]))
  rmse.append(mean_squared_error(test[[str(i)+'_current']], pred, squared=False))
  predictions.append(pred)

In [91]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 0.7610460526146735 | RMSE 14.982974634596536

In [129]:
# # Per hour model 4

models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["latitude", "longitude", "public_chargers", "home_chargers", str(i)+"_y"]], train[[str(i)+'_current']])
  pred = lr.predict(test[["latitude", "longitude", "public_chargers", "home_chargers", str(i)+"_y"]])
  models.append(lr)
  r2.append(lr.score(test[["latitude", "longitude", "public_chargers", "home_chargers", str(i)+"_y"]], test[[str(i)+'_current']]))
  rmse.append(mean_squared_error(test[[str(i)+'_current']], pred, squared=False))
  predictions.append(pred)

In [130]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 0.878968585899235 | RMSE 10.606164671025413

In [ ]:
for i in range(24):
  for el in zip(predictions[i], np.array(test[str(i)+"_current"])):
    print(i, el[0][0], el[1])