In [92]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

In [111]:
train = pd.read_csv('train_for_gif.csv', sep=";")
train.head() #0_x is ev charging current, 0_y is baseload current

   Unnamed: 0  index  ...        22_y        23_y
0          24    138  ...   48.375035   42.896676
1          16     15  ...   68.542676   73.093613
2           8    193  ...   47.173830   41.957258
3          15    168  ...   36.109098   45.307183
4          12     59  ...  172.177444  155.879436

[5 rows x 59 columns]

In [112]:
test = pd.read_csv('test_for_gif.csv', sep=";")
test.head() #0_x is ev charging current, 0_y is baseload current

   Unnamed: 0  index  ...        22_y        23_y
0          17    106  ...   99.091078  114.843304
1          13      7  ...   59.464003   63.653381
2           4     30  ...  149.993054  154.378589
3          29    194  ...  170.526774  136.501670
4          35    103  ...   79.221729  106.508075

[5 rows x 59 columns]

In [118]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

for i in range(24):
  train[str(i)+"_current"] = train[str(i)+"_x"]+train[str(i)+"_y"]
  test[str(i)+"_current"] = test[str(i)+"_x"]+test[str(i)+"_y"]
train["total_chargers"] = train["public_chargers"] + train["home_chargers"]
test["total_chargers"] = test["public_chargers"] + test["home_chargers"]
train.head()

   Unnamed: 0  index  ...  23_current total_chargers
0          24    138  ...   42.896676            1.0
1          16     15  ...   80.293613            7.0
2           8    193  ...   41.957258            1.0
3          15    168  ...   45.307183            5.0
4          12     59  ...  155.879436            5.0

[5 rows x 84 columns]

In [64]:
print(np.unique(train["max_current"]),np.unique(test["max_current"]))

[ 60 100 160 200] [ 60 100 160]

In [71]:
# Per hour model 1
models = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["max_current", "public_chargers", "home_chargers", str(i)+"_y"]], train[[str(i)+'_current']])
  pred = lr.predict(test[["max_current", "public_chargers", "home_chargers", str(i)+"_y"]])
  models.append([lr, lr.score(test[["max_current", "public_chargers", "home_chargers", str(i)+"_y"]], test[[str(i)+'_current']]), mean_squared_error(test[[str(i)+'_current']], pred, squared=False)])
  predictions.append(pred)

In [72]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",model[1],"| RMSE",model[2])

print("Day average | R2", np.array(models)[:,1].mean(),"| RMSE", np.array(models)[:,2].mean())

Day average | R2 0.8812533157077462 | RMSE 10.925397972186152

In [ ]:
for i in range(24):
  for el in zip(predictions[i], np.array(test[str(i)+"_current"])):
    print(i, el[0][0], el[1])

In [149]:
# Per hour model 2
models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["public_chargers", "home_chargers", str(i)+"_y"]], train[[str(i)+'_current']])
  pred = lr.predict(test[["public_chargers", "home_chargers", str(i)+"_y"]])
  models.append(lr)
  r2.append(lr.score(test[["public_chargers", "home_chargers", str(i)+"_y"]], test[[str(i)+'_current']]))
  rmse.append(mean_squared_error(test[[str(i)+'_current']], pred, squared=False))
  predictions.append(pred)

In [151]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 0.8887420302927834 | RMSE 10.423725187528838

In [150]:
for i in range(24):
  for el in zip(predictions[i], np.array(test[str(i)+"_current"])):
    print(i, el[0][0], el[1])

0 98.16075324342775 100.86309941741486
0 133.7610494143642 148.89751256940926
0 142.18215828123 138.43941603767647
0 131.60764109303466 128.61885339926704
0 132.05073197028918 139.6053097950695
0 103.34666578686513 129.78053726148306
0 166.86236996717008 164.1106857217042
0 88.64302940338999 85.79153334631111
1 91.67704430931272 103.70365532275477
1 86.93060601453689 64.00319938196138
1 158.5473990881533 176.54532891414075
1 140.6950301472938 176.41032991822442
1 96.42699565585414 92.2441090562725
1 80.92408352345161 61.56581559189551
1 129.03227800716118 144.57083698681083
1 98.73492669392701 102.42047925571009
2 86.35120732856144 98.05179798119352
2 104.46955380275915 76.48086852571575
2 114.38099108170485 106.97072640526785
2 135.63689326728664 157.23912825842984
2 101.78200556332067 98.27630061524256
2 88.72180722481997 75.36131894590517
2 121.02861011165699 120.81279611291633
2 116.9964815682612 119.98439508662256
3 83.92967283180755 79.85364647848165
3 86.47561100446686 76.19024511616666
3 136.7463764463211 143.89101479440296
3 185.90477950933442 172.48595429754022
3 108.26855544966897 103.09643318517924
3 80.29117846148944 70.05048136144549
3 115.94704691755457 108.53215735179155
3 107.44103277148493 104.52195843181325
4 86.72874894765643 85.16128864963683
4 95.20759179126922 81.61350561672141
4 92.40345024401502 87.03039950939441
4 136.27767044589757 128.90258716414073
4 75.16059159667807 73.74291737164822
4 68.64631423641809 62.54834402005506
4 118.6927333028348 132.41903547576334
4 89.9803299396658 90.3569078404605
5 102.51507949916623 101.4219699014724
5 61.4694985839255 47.0809215797526
5 113.22742501890795 115.76954736532812
5 157.7184318651364 152.2254430581457
5 92.44131399942773 91.2102749632017
5 60.15165815256216 53.02300339677063
5 109.79446606564233 107.5900090789346
5 118.6222200369827 119.87189411239395
6 121.50533690433598 120.30072034163831
6 84.80353000226813 86.37173179797651
6 144.55822880904992 141.58194054737316
6 167.2024650393036 165.38041871523757
6 136.1184580452396 148.82862557317586
6 74.26528363238216 76.21689910352164
6 153.31134343246484 154.86348631872468
6 121.40347197289881 119.68787092678015
7 123.26252505563382 117.93694637636835
7 74.06710579279256 90.18008175655366
7 161.14260214502656 163.54952243488876
7 188.02417701060676 187.96703719211314
7 118.6027153979678 113.16505003476469
7 77.22907913295535 79.38712940320931
7 180.53379303634722 183.1360941004707
7 120.10450548437109 113.68264784624748
8 129.59407181376866 119.21564383459221
8 72.19966928736181 77.01414774535279
8 207.95567071247905 189.28654255773608
8 146.65160353136122 155.76561621450887
8 146.9626633101676 141.89843438873908
8 70.10820653223152 74.49830516050795
8 147.07808507857914 142.12209029292018
8 141.92689280311123 128.8114656276826
9 170.0896223736917 175.7
9 75.70701360679062 116.36946624408647
9 205.0229646976428 197.15448918260782
9 169.70580589747257 169.4352948050772
9 124.00323687756251 116.25022779221678
9 61.150949522727906 69.01407427753463
9 123.66647598599481 127.11266305867477
9 133.61255702711873 122.62420102616933
10 124.23916531621755 122.09503676336277
10 92.04008403423765 93.80079471961504
10 167.18885772557712 147.34912368134442
10 159.90041371148197 146.5413078114019
10 118.55995337223362 115.92229047333807
10 71.60778414842095 77.5897300434875
10 83.40557689389745 88.17843987477244
10 105.59461387302095 100.7130714527961
11 148.68779962664632 140.7904788120785
11 75.05823917444411 96.12148355621392
11 183.40502169002116 171.64843843754693
11 148.71941647887797 164.642568249859
11 114.4045120388174 106.80418745132013
11 47.35115534776038 50.97989445301504
11 151.09182274132678 151.71428542709077
11 127.241391271101 132.87607541136512
12 147.74868651792303 133.6152477914533
12 53.06322460052251 48.74250543616806
12 179.11862152694744 165.59951738797042
12 131.94672507966357 138.80757988825968
12 128.73484117625372 115.62019845502869
12 81.07744355068692 83.51819242196052
12 145.9558488163372 143.340528685779
12 138.72753277216538 124.28757995243521
13 119.3688780699773 116.04169096975998
13 91.04188379916407 96.77225809070421
13 208.13691847613873 190.0
13 136.41373845434478 155.80129407512743
13 95.38649258227645 98.57473243402953
13 38.105680950061675 43.35244192989386
13 164.3691272841897 172.33133966426647
13 138.3566982881213 142.3271568092883
14 136.32236221241413 121.86380250281022
14 84.22367875425248 90.9485500490807
14 123.45744008853902 123.08580827444223
14 173.79154732849946 185.84839659508646
14 150.3378819852478 142.1764709289798
14 76.3257418890165 74.85906114077126
14 164.61184670426803 153.9155077062736
14 145.34316824703768 135.73228326184176
15 121.94099663414447 112.62546282367191
15 85.81363731583288 123.25286655492118
15 171.076385647162 153.57043998346546
15 188.14110723698303 177.63218574288513
15 105.92758435815084 96.88059783286978
15 67.1235875582854 72.38463677041925
15 116.71712275257748 118.59684709765736
15 163.28367358368376 159.2
16 118.52147498735633 110.74283311481446
16 88.51587839073846 87.9887134960339
16 175.00363654447347 174.01322775004883
16 160.71192879351457 170.70819341963553
16 130.23268952432676 135.65023391309185
16 87.4478663598746 88.07484130454802
16 158.5530396460489 153.612455049562
16 131.47693520748345 122.07958959862692
17 132.920024852799 133.61897042947095
17 88.61912401288431 92.85130988756912
17 171.61067246987207 166.0468883378019
17 117.9214822254141 121.57953033148087
17 134.42465734547625 127.98535568309114
17 71.74595795468508 70.81906586450748
17 185.94009163102507 187.91611837802293
17 120.9321843125719 113.04722333583042
18 100.96955878583356 98.22125855746503
18 113.01368298069583 107.37889652158671
18 162.50148767714668 154.9639699044963
18 181.72055920585277 187.84774216624237
18 120.06260812750578 117.95224178460913
18 104.58910862680361 113.2102149569211
18 105.38843918888423 123.56588681149609
18 126.03971769710813 128.3438746695548
19 133.01816519558034 132.27329712348515
19 117.88966311162662 91.60205302777692
19 177.66814957232404 187.39033894337743
19 145.51531867110717 176.03515095012952
19 89.76017271125538 84.97101047592227
19 98.90458595427461 77.26709417334143
19 140.1444009280648 132.80529963016144
19 91.72678095620519 92.34287197810127
20 106.62278866648235 103.48416586692356
20 115.010616107963 118.55796514273742
20 214.84887668481554 196.6
20 152.81007643705703 172.05510565567926
20 106.62697125691766 125.48822244861375
20 106.16124965688788 122.31028991939527
20 181.54930206345801 180.84757210084942
20 134.60659528730775 134.3351267962043
21 104.32523665956299 101.49723428216794
21 102.45975168380535 91.10920216890129
21 189.326377642196 222.20191576094564
21 168.9831723395551 179.36351380754758
21 105.21888360500179 102.4939925030935
21 88.22017920637121 91.02990295959414
21 130.5879552373122 142.88861583443736
21 85.19097691642618 85.20643171440184
22 107.86042922718042 99.09107811756037
22 89.20004497694813 88.66400309946142
22 170.47169493058573 157.19305399302246
22 187.9355583364346 187.0267744015585
22 86.78781189831815 79.2217287020396
22 106.39743349361122 105.41850089230628
22 183.50495957543325 170.06718126750775
22 120.19763714526253 114.39585518315224
23 120.8782639190129 114.84330433829436
23 84.21329530994315 92.25338089575371
23 166.73815846081172 184.67858851653716
23 145.703068445214 136.50167003502628
23 112.52481190153983 106.50807544952863
23 82.64033267955706 89.63028962876011
23 126.62043099207733 122.98275823294269
23 94.3273231615599 90.78444132112674

In [90]:
# Per hour model 3
models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  # Labels are the values we want to predict
  labels = np.array(train[str(i)+'_current'])
  # Remove the labels from the features
  # axis 1 refers to the columns
  features = train[["public_chargers", "home_chargers", str(i)+"_y","max_current"]]
  # Saving feature names for later use
  feature_list = list(features.columns)
  # Convert to numpy array
  features = np.array(features)

  m = RandomForestRegressor()
  m.fit(features, labels)
  pred = m.predict(test[["public_chargers", "home_chargers", str(i)+"_y","max_current"]])
  models.append(m)
  r2.append(m.score(test[["public_chargers", "home_chargers", str(i)+"_y","max_current"]], test[[str(i)+'_current']]))
  rmse.append(mean_squared_error(test[[str(i)+'_current']], pred, squared=False))
  predictions.append(pred)

In [91]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 0.7610460526146735 | RMSE 14.982974634596536

In [129]:
# Per hour model 4
models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["latitude", "longitude", "public_chargers", "home_chargers", str(i)+"_y"]], train[[str(i)+'_current']])
  pred = lr.predict(test[["latitude", "longitude", "public_chargers", "home_chargers", str(i)+"_y"]])
  models.append(lr)
  r2.append(lr.score(test[["latitude", "longitude", "public_chargers", "home_chargers", str(i)+"_y"]], test[[str(i)+'_current']]))
  rmse.append(mean_squared_error(test[[str(i)+'_current']], pred, squared=False))
  predictions.append(pred)

In [130]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 0.878968585899235 | RMSE 10.606164671025413

In [ ]:
for i in range(24):
  for el in zip(predictions[i], np.array(test[str(i)+"_current"])):
    print(i, el[0][0], el[1])

In [161]:
# Per hour model 5
models = []
r2 = []
rmse = []
predictions = []

for i in range(24):
  lr = LinearRegression()
  lr.fit(train[["public_chargers", "home_chargers"]], train[[str(i)+'_x']])
  pred = [max(0,pr[0]) for pr in lr.predict(test[["public_chargers", "home_chargers"]])]
  models.append(lr)
  r2.append(lr.score(test[["public_chargers", "home_chargers"]], test[[str(i)+'_x']]))
  rmse.append(mean_squared_error(test[[str(i)+'_x']], pred, squared=False))
  predictions.append(pred)

In [166]:
# for i, model in enumerate(models):
#   print("Hour",i+1,"| R2",np.mean(r2),"| RMSE", np.mean(rmse))

print("Day average | R2", np.mean(r2),"| RMSE", np.mean(rmse))

Day average | R2 -0.26632181986555786 | RMSE 9.865394332564243

In [ ]:
print("ev charge prediction, actual ev charge")
for i in range(24):
  for el in zip(predictions[i],np.array(test[str(i)+"_x"])):
    print(i, el[0], el[1])